*{
    margin: 0px;
    padding: 0px;
    font-family: 'Atkinson Hyperlegible', sans-serif;
}
body{
    background-color: #00275a;/*#bde7f2;*/
    overflow-x: hidden;
}
#intro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
#logo{
    max-height: 250px;
}
#intro h1
{
    color: #ffffff;/*#15073e;*/
    font-size: 66px;
}
#intro p
{
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    margin-top: 60px;
    text-align: center;
}
#intro h5
{
    position:  absolute;
    bottom: 50px;
    display: inline-block;
    color: #4aa6e6;
    font-size: 20px;
    font-weight: bold;
    justify-self: flex-end;
    align-items: flex-end;
}
.btn {
    padding: 8px 16px;
    border: 2px solid #ca934c;
    color: #ca934c;
    text-transform: uppercase;
    font-size: 16px;
    background: transparent;
    font-weight: 700;
    border-radius: 3px;
    margin-top: 24px;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
}
.btn:hover {
    background-color: #ca934c;
    color: #ffffff;
}
#tshirt {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 120px;
    padding-bottom: 200px;
}
#tshirt p {
    color: #00275a;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    padding-top: -2px;
}
footer {
    text-align: center;
    color: #bbbbbb;
    padding: 20px;
    background-color: #232323;
}